* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
   font: 400 14px Roboto, sans-serif;
   background: #f0f0f5;
   -webkit-font-smoothing: antialiased;
}

.header {
   position: fixed;
   top: 0;
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   /* width: 100%; */
   height: 80px;
   /* border: 1px black solid; */
   background-color: #ad00ff;
   z-index: 1;
}

.logo {
   margin-left: 40px;
   height: 50%;
}

.headerItems {
   display: flex;
   flex-direction: row;
   margin-right: 40px;
   /* justify-content: space-between; */
   /* border: 1px black solid; */
}

.headerItem {
   padding-right: 32px;
   color: white;
}

.mainContainer {
   background-color: white;
}

.home {
   display: flex;
   background-image: url('./assets/location.svg');
   background-repeat: no-repeat;
   background-position-y: center;
   width: 100%;
   height: 100vh;
   flex-direction: column;
   background-color: #ad00ff;
}

.homeItems {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100vh;
   justify-content: space-around;
}

.cards {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.card {
   height: 330px;
   width: 330px;
   margin-top: -70px;
   border-radius: 10px;
   background-color: white;
   filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 0.22));

   display: flex;
   flex-direction: column;
   padding: 20px;
   align-items: center;
   justify-content: space-around;
   
   text-align: center;
}

.cardTitle {
   font-family: Raleway;
   font-style: normal;
   font-weight: 800;
   font-size: 24px;
   line-height: 28px;
   letter-spacing: 0.01em;
   margin-bottom: 6px;
}

.cardDescription {
   font-family: Raleway;
   font-style: normal;
   font-weight: 800;
   font-size: 16px;
   line-height: 21px;
   letter-spacing: 0.01em;

   color: #5F5E5E;
}

.about {
   width: 100%;
   height: 100vh;
   background-color: #FFF;
   display: flex;
   flex-direction: column;
   padding-left: 150px;
   padding-right: 150px;
}

.aboutContent {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 100%;
}

.aboutScreens {
   height: fit-content;
   align-self: center;
}

.aboutText {
   align-self: center;
   width: 35%;
   font-family: Raleway;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 148.4%;
   /* or 36px */
   letter-spacing: 0.01em;

   color: #616161;
}

.iphoneHome {
   margin-top: 100px;
   height: fit-content;
   align-self: center;
   /* align-self: center; */
}

.homeTitle {
   width: 570px;
   font-family: Raleway;
   font-style: normal;
   font-weight: 800;
   font-size: 64px;
   line-height: 75px;
   display: flex;
   align-items: center;
   text-align: right;
   letter-spacing: 0.01em;

   color: #FFFFFF;
}

.sectionHeader {
   width: 100%;
   margin-top: 90px;
   text-align: center;
}

.sectionTitle {
   font-family: Raleway;
   font-style: normal;
   font-weight: 800;
   font-size: 48px;
   line-height: 56px;
   letter-spacing: 0.01em;
   color: #000000;
   margin-bottom: 9px;
}

.sectionSvg {
   width: 180px;
}